<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ name }}'watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h3>
        <img src="{{ url_for('static',filename='img/p2.jpg') }}" alt="头像" class="avatar">
        {{ user.name }}
    </h3>
    {# 过滤器 #}
    <p>总共{{ movies|length }}个电影</p>
    <ul class="movie_list">
        {% for movie in movies %}
        <li>{{ movie.title }} <span class="sj">发布时间：{{ movie.year }}</span></li>
        {% endfor %}
    </ul>
    <footer>
        <small>&copy;2020&nbsp;&nbsp;&nbsp; <a href="">1903c</a></small>
    </footer>
</body>
</html>